body {
    /* font-family: Arial, sans-serif; */
    
    background-color: white; 
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center; 
}

h1.about-title,
h2 {
    color: rgb(210, 167, 167); 
    padding: 20px;
}

a {
    color: rgb(208, 177, 177); 
    text-decoration: none;
}

a:hover {
    color: rgba(146, 77, 89, 0.964); 
}

.contact-info {
    margin: 0;
    padding: 0;
    padding-top: 20px; 
}

.contact-info p:first-child {
    margin-top: 0; 
}
.navvv{
    padding:100px 50px; 
      margin: -15px;
}
p{
    color: rgb(208, 177, 177); 
}
