header{

    position: fixed;
    width: 95%;
    display: flex;
    padding: 10px 30px;
    align-items: center;
    justify-content:space-between;
    border-bottom: 2px solid rgb(238, 187, 187);
    background-color: white;
    z-index: 999;
    top: 0;
    right: 0;
    left: 0;
  }
  .logo{
    color: rgb(187, 157, 157);
    text-decoration: none;
    font-size: 1.8em;
    font-weight: 700;
      
      
  
  }
  .navigation a{
    color: rgb(208, 177, 177);
    text-decoration: none;
    font-size: 1.3em;
    padding-left: 40px;
    padding-right: 30;
    font-weight: 700;
    
  
  }
  .navigation a:hover{
    color: rgba(146, 77, 89, 0.964);
  }

  .navigation {
    display: flex;
    align-items: center;
}

  body {
    font-family: Helvetica, sans-serif;
    padding: 5%;
    text-align: center;
    font-size: 50;
}
.dropdownbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  .dropdown-menu {
    position: relative;
    display: inline-block;
  }
.dropdown-contents {
    display: none;
    position: absolute;
    top: calc(100% + 5px); 
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-menu:hover .dropdown-contents {
    display: block;
}

.dropdown-contents a {
    color:  rgba(146, 77, 89, 0.964);
    padding: 11px 15px;
    display: block;
    font-size: 15px;
}

.dropdown-contents a:hover {
    background-color: #f1f1f1;
}
.dropdown-contents a img {
    width: 30px; 
    height: 30px; 
    margin-right: 5px; 
}

#slideshow {
    overflow: hidden;
    width: 100%;
    max-height: 600px;
    position: relative;
    margin: 25.5px 0 0 0;
    padding: 0;
    border:0 ;
}

.slide {
    float: left;
    height: 600px;
    width: 1500px;
    
}

.slide-wrapper {
    width: calc(1500px * 3);
}

.slide:nth-child(1) {
    background-image: url("Pic1.jpg");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}
 
.slide:nth-child(2) {
    background-image: url("Pic2.jpg");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}
 
.slide:nth-child(3) {
    background-image: url("Pic3.jpg");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 15px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 25px;
    transition: 1s ease;
    border-radius:5px;
    user-select: none;
    
}

.next {
    right: 0;
}
.prev {
    left: 0;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.dash-container {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
}

.dashes {
    text-align: center;
}

.dash {
    cursor: pointer;
    height: 2px;
    width: 20px;
    margin: 0 3px;
    background-color: #bbb;
    display: inline-block;
}

.dash.active, .dash:hover {
    background-color: #717171;
}

#Products {
    overflow: hidden;
    width: 1350px;
    height: 300px;
    position: relative;
    margin: 0 auto;
    border:0 ;
    padding: 0;
    align-items: center;
}

.shop{ 
    border-radius: 5px;
    border-color: black;
    background-color: rgb(252, 252, 252);
    margin: 5px;
    margin-top: 13px;
    height: 275px;
    width: 250px;
    align-items: center;
    transition: transform 0.3s ease;
    float: left;
}
 
.shop:hover {
    box-shadow: 0 5px 25px rgba(1 1 1/15%);
    transform: scale(1.05);
}
.shop-wrapper, .shop-wrapper1 {
    width: calc(1300px * 2);
    height: 300px;
}

p{
    text-align: right;
    font-size: 12px;
}
p:hover {
    font-size: 15px; 
}

.popup-container {
    display: none;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 70%; 
    max-width: 400px;
    border: 2px solid rgb(210, 167, 167);
    font-family: Helvetica, sans-serif; 
   
}

.popup {
    text-align: center;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
select,
button{
    width: 100%;
    padding: 15px;
    margin: 10px 0px;
    font-size: 18px;
    border: 1px solid rgb(210, 167, 167); 
    border-radius: 5px;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif; 
}

input[type="checkbox"] {
    margin-right: 5px;
}

.signin,.help-center {
    font-size: 14px;
    font-family: Helvetica, sans-serif; 
}

@media screen and (max-width: 768px) {
    .popup-container {
        max-width: 50%;
    }
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

button {
    width: 100%;
    padding: 25px;
    margin: 13px 0px;
    font-size: 18px;
    border: 1px solid rgb(210, 167, 167); 
    border-radius: 5px;
    background-color: whitesmoke;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-family: Helvetica, sans-serif; 
    font-weight: bold;
}

button:hover {
    background-color: rgb(215, 180, 180);
} 

.create-account .help-center {
    margin:50px;
    padding: 25px;
    font-size: 16px;
    text-decoration: underline;
    font-family: Helvetica, sans-serif; 
    font-weight: bold;
}
.forget {
   
    right: 20px; 
    top: 73%; 
    transform: translateY(-50%);
    font-size: 15px;
    text-decoration: underline;
    font-family: Helvetica, sans-serif;
    position:absolute;
    
}
.error {
    color: red;
    font-family: Helvetica, sans-serif; 
}
