header{

    position: fixed;
    width: 95%;
    display: flex;
    padding: 10px 30px;
    z-index: 999;
    align-items: center;
    justify-content:space-between;
    border-bottom: 2px solid rgb(210, 167, 167);
    background-color: white;
  }
  .logo{
      color: rgb(187, 157, 157);
      text-decoration: none;
      font-size: 1.5em;
      font-weight: 700;
      margin-top: 5px;
  }
  .navigation a{
      color: rgb(208, 177, 177);
      text-decoration: none;
      font-size: 1.3em;
      padding-left: 40px;
      padding-right: 30;
      font-weight: 700;
    
  
  }
  .navigation a:hover{
      color: rgba(146, 77, 89, 0.964);
  
  
  }
  section{
      padding:100px 50px; 
      margin: -15px;
  }
  .prod{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
     justify-content: center;
     margin-top: 70px;
     
     
  }.shop{
      box-shadow: 0 5px 25px rgba(1 1 1/15%);
      border-radius: 20px;
      background-color: rgb(255, 202, 202);
      margin: 25px;
      height: 25em;
      transition: transform 0.3s ease;
  }
  .shop:hover {
      transform: scale(1.05);
    }
  .prd{
      text-align: center;
      color: rgb(245, 242, 237);
  }
  .face{
      text-align: center;
      color: rgb(245, 242, 237);
  }
  .eye{
      text-align: center;
      color: rgb(245, 242, 237); 
  }
  .lips{
      text-align: center;
      color: rgb(245, 242, 237); 
  
  }
  .brows{
      text-align: center;
      color: rgb(245, 242, 237); 
  
  }
  .tools{
      text-align: center;
      color: rgb(245, 242, 237); 
  
  }